{% extends 'includes/owner_profile_common.html' %}

{% block edit_profile %}Client{% endblock %}
{% block post %}{% url 'clients:client_owner' pk=form.instance.pk %}{% endblock %}
{% block form %}
    <div class="col-sm-12 mb-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Client email</label>
            {{ form.email }}
        </div>
    </div>
    <div class="col-sm-6 mb-4">
        <div class="form-group">
            <label for="fn">Client name</label>
            {{ form.first_name }}
        </div>
    </div>
    <div class="col-sm-6 mb-4">
        <div class="form-group">
            <label for="ln">Client surname</label>
            {{ form.last_name }}
        </div>
    </div>
    <div class="col-sm-6 mb-4">
        <div class="form-group">
            <label for="add">Phone number</label>
            {{ form.phone_number }}
            <small id="addd" class="form-text text-muted">Phone number must be unique and contain ten
                characters</small>
        </div>
    </div>
    <div class="col-sm-6 mb-4">
        <label for="exampleInputEmail1">Date</label>
        <div class="form-group">
            {{ form.date_of_birth }}
            <small id="addd" class="form-text text-muted">The date of birth cannot be greater than today</small>
        </div>
    </div>
    <div class="col-sm-12 mb-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Info</label>
            {{ form.info }}
        </div>
    </div>
    {% if form.instance.id %}
        <h3 class="col-sm-12 mb-4">Cars for {{ form.instance.first_name }} {{ form.instance.last_name }} :</h3>
        {% for car in form.instance.get_all_cars %}
             <ul>
                <li >
                    <a href="{% url "cars:car_owner" pk=car.id %}" style="color: #8cc6e5">Car Number: {{ car.car_number }}</a><br>
                    Mark: {{ car.mark }}<br>
                    Model: {{ car.model }}<br>
                    Year: {{ car.year }}<br>
                    Engine: {{ car.engine }}<br>
                    Gear Type: {{ car.gear_type }}<br>
                    Comment: {{ car.comment }}<br></li>
             </ul>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block logout %}
    <a href="{% url 'accounts:owner_profile' pk=form.instance.owner.pk %}">Owner account</a>{% endblock %}

{% block delete %}
    <a href="{% url 'clients:owner_delete_client' form.instance.pk %}" style="color: red;">Delete
        client</a>{% endblock %}


{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{ title }}</title>#}
{#</head>#}
{#<body>#}
{#<div class="profile">#}
{#    You are still owner!#}
{#    {% for message in messages %}#}
{#        <div>{{ message }}</div>#}
{#    {% endfor %}#}
{#    <form method="post" action="{% url 'clients:client_owner' pk=form.instance.pk %}">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="hidden" name="owner" value="{{ request.user.id }}">#}
{#        <br>#}
{#        <button type="submit">Submit</button>#}
{#        <br>#}
{#        {% if form.instance.id %}#}
{#            <h2>Cars for {{ form.instance.first_name }} {{ form.instance.last_name }}</h2>#}
{#                {% for car in form.instance.get_all_cars %}#}
{#                    <li>#}
{#                        Car Number: {{ car.car_number }}<br>#}
{#                        Mark: {{ car.mark }}<br>#}
{#                        Model: {{ car.model }}<br>#}
{#                        Year: {{ car.year }}<br>#}
{#                        Engine: {{ car.engine }}<br>#}
{#                        Gear Type: {{ car.gear_type }}<br>#}
{#                        Comment: {{ car.comment }}<br>#}
{#                        <hr>#}
{#                    </li>#}
{#                {% endfor %}#}
{#        {% endif %}#}
{#        <br>#}
{#        <a href="{% url 'accounts:log_out' %}">Log out</a>#}
{#        <br>#}
{#        <a href="{% url 'accounts:owner_profile' pk=form.instance.owner.pk %}">Owner account</a>#}
{#        <br>#}
{#        <a href="{% url 'clients:owner_delete_client' form.instance.pk %}" style="color: red;">Delete client</a>#}
{#    </form>#}
{#</div>#}
{#</body>#}
{#</html>#}