{% extends 'includes/delete_common.html' %}

{% block name_delete %}{{ user.username }}{% endblock %}
{% block button %}'{% url 'accounts:delete_owner' user.id %}'{% endblock %}
{% block button_name %}{# Delete owner #}Видалити власника{% endblock %}{#  #}
{% block status_page %}
    <a href="{% url 'accounts:owner_profile' user.id %}">{# Return on owner page #}Повернутися на сторінку
        власника</a>{% endblock %}


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{ title }}</title>#}
{#</head>#}
{#<body>#}
{#<div class="delete_account">#}
{#    <form method="POST" action="">{% csrf_token %}#}
{#        <p>Are you sure you want to delete "{{ user.username }}"?</p>#}
{#        {{ form }}#}
{#        <input type="submit" value="Confirm">#}
{#    </form>#}
{#</div>#}
{#</body>#}
{#</html>#}