{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="profile">
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    <form method="post" action="{% url 'accounts:ok' pk=form.instance.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        <br>
        <br>
        <a href="{% url 'accounts:delete' user.id %}" style="color: red;">Delete account</a>
    </form>
</div>
</body>
</html>