{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
<div class="reg_block">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="log_question">Already have an account?
            <a href="{% url 'accounts:log'%}" style="color: lightblue;">Log in</a></div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>