{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="delete_account">
    <form method="post" action="{% url 'orders:owner_delete_order' pk=object.pk %}">
        {% csrf_token %}
        <p>Are you sure you want to
            delete {{ object.client.first_name }} {{ object.client.last_name }} {{ object.mark }} {{ object.model }} {{ object.car_number }}?</p>
        <input type="submit" value="Confirm">
    </form>
</div>
</body>
</html>