{% extends 'layouts/auth.html' %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        <form method="post" class="card-body text-center">
            {% csrf_token %}
            <div class="mb-4">
                <i class="feather icon-lock auth-icon"></i>
            </div>
            <h3 class="mb-4">{% trans 'Set a new password' %}</h3>
            {% for error in form.non_field_errors %}
                <span class="text-danger d-block my-3">{{ error }}</span>
            {% endfor %}
            {% for field in form %}
                {% include 'partials/form_field.html' %}
            {% endfor %}
            <button type="submit" class="btn btn-primary shadow-2 mb-4">{% trans 'Set password' %}</button>
        </form>
    {% else %}
        <div class="card-body text-center">
            <h3 class="mb-4">{% trans 'Error' %} <i class="feather icon-x auth-icon"></i></h3>
            <p class="mb-4">{% trans 'The password reset link is invalid or has already been used.' %}</p>
            <hr>
            <a href="{% url 'password_reset' %}" class="btn btn-outline-light">{% trans 'Request a new link' %}</a>
        </div>
    {% endif %}
{% endblock %}
