{% extends 'layouts/base-auth.html' %}

{% load static %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
                <form method="post" class="card-body text-center"
                      action="{% block creator_status %}{% endblock %}">
                    {% csrf_token %}

                    {% block icon %}{% endblock %}
                    {#                    <div class="mb-4">#}
                    {#                        <i class="feather icon-user-plus auth-icon"></i>#}
                    {#                    </div>#}
                    {#                    <div class="mb-4">#}
                    {#                        <i class="feather icon-plus auth-icon"></i>#}
                    {#                    </div>#}
                    <h3 class="mb-4">{% block create_name %}{% endblock %}</h3>
                    {% for field in form %}
                        <div class="input-group mb-3">
                            {% if field.name == 'orders' %}
                                <label for="fn">Orders:</label>&nbsp;&nbsp;
                                {% for order in field.field.queryset %}
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="order_{{ order.id }}"
                                               name="orders" value="{{ order.id }}"
                                               {% if order in field.value %}checked{% endif %}>
                                        <label class="form-check-label" for="order_{{ order.id }}">{{ order }}</label>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% elif field.name == 'workers' %}
                                <label for="fn">Workers:</label>&nbsp;&nbsp;
                                {% for worker in field.field.queryset %}
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="worker_{{ worker.id }}"
                                               name="workers" value="{{ worker.id }}"
                                               {% if worker in field.value %}checked{% endif %}>
                                        <label class="form-check-label"
                                               for="worker_{{ worker.id }}">{{ worker }}</label>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                        <span class="text-danger d-block text-left">{{ field.errors }}</span>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary shadow-2 mb-4">Create</button>
                    <br>{% block status_page %}{% endblock %}
                </form>
            </div>
        </div>
    </div>


    <label class="d-none">
        <i class="icon feather icon-sun" id="theme-indicator"></i>
        <input type="checkbox" id="theme-switch" class="d-none">
    </label>

{% endblock content %}
{##}
{#<script>#}
{#    $(document).ready(function () {#}
{#        $("#id_service_station").change(function () {#}
{#            var stationId = $(this).val();#}
{#            if (stationId) {#}
{#                $.ajax({#}
{#                    url: '{% url "orders:get_workers_for_station" %}',#}
{#                    type: 'GET',#}
{#                    data: {'station_id': stationId},#}
{#                    success: function (data) {#}
{#                        $("#id_workers").html('');#}
{##}
{#                        // Iterate over worker_choices and append checkboxes#}
{#                        for (var i = 0; i < data.worker_choices.length; i++) {#}
{#                            var checkbox = $('<input/>');#}
{#                            checkbox.attr('type', 'checkbox');#}
{#                            checkbox.attr('class', 'form-check-input');#}
{#                            checkbox.attr('id', 'worker_' + data.worker_choices[i][0]);#}
{#                            checkbox.attr('name', 'workers');#}
{#                            checkbox.attr('value', data.worker_choices[i][0]);#}
{#                            if (data.worker_choices[i][0] in data.selected_workers) {#}
{#                                checkbox.prop('checked', true);#}
{#                            }#}
{#                            var label = $('<label/>');#}
{#                            label.attr('class', 'form-check-label');#}
{#                            label.attr('for', 'worker_' + data.worker_choices[i][0]);#}
{#                            label.text(data.worker_choices[i][1]);#}
{#                            var div = $('<div/>');#}
{#                            div.attr('class', 'form-group form-check');#}
{#                            div.append(checkbox);#}
{#                            div.append(label);#}
{#                            $("#id_workers").append(div);#}
{#                        }#}
{#                    }#}
{#                });#}
{#            } else {#}
{#                $("#id_workers").html('');#}
{#            }#}
{#        });#}
{#    });#}
{##}
{##}
{#</script>#}
{##}
{##}
