{% load static %}
<title>{{ title|default:"Digital Auto Service" }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<link rel="icon" href="{% static 'vendor/images/auto_icon.png' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'vendor/plugins/animation/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'vendor/css/dark.css' %}">
