{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="profile">
    You are still owner!
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    <form method="post" action="{% url 'stations:station_manager' pk=form.instance.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'accounts:log_out' %}">Log out</a>
    <br>
    <a href="{% url 'accounts:manager_profile' pk=request.user.pk %}">Manager account</a>
</div>
</body>
</html>