{% extends 'includes/delete_common.html' %}

{% block name_delete %}{{ object.name }} on {{ object.address }}{% endblock %}
{% block button %}'{% url 'stations:owner_delete_station' pk=object.pk %}'{% endblock %}
{% block button_name %}Delete station{% endblock %}
{% block status_page %}<a href="{% url 'accounts:owner_profile' user.id %}">Return on owner page</a>{% endblock %}


{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{ title }}</title>#}
{#</head>#}
{#<body>#}
{#<div class="delete_account">#}
{#    <form method="post" action="{% url 'stations:owner_delete_station' pk=object.pk %}">#}
{#        {% csrf_token %}#}
{#        <p>Are you sure you want to delete {{ object.name }} on {{ object.address }}?</p>#}
{#        <input type="submit" value="Confirm">#}
{#    </form>#}
{#</div>#}
{#</body>#}
{#</html>#}